git rm --cached .DS_Store

echo ".DS_Store" >> .gitignore

git add .gitignore
git commit -m "Remove .DS_Store and add to .gitignore"
git push origin main

^X
nano .gitignore

*.log

.DS_Store

.env

.DS_Store
.DS_Store
